.watchBanner{
    background-image: url("../../../assets/images/large__watch.jpg")  ;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 300px;
}
.watch__Ban_Info h2{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
    
}
.watch__Ban_Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
}
.watch__Ban_Info h3{
    font-size: 18px;
    margin-bottom: 18px;
    margin-left: 100px;
}
.Wlinks{
    display: flex;
    align-items: center;
        justify-content: center;
        margin-left: 100px;
}
.buy{
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
    background-color: blue;
    margin-left: 110px;
}
a{
    display: flex;
    align-items: center;
    color: blue;
}